*{
  padding: 0;
  margin: 0;
}
body{
  background-color: gray;
}
html{
  scroll-behavior: smooth;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 10px 10%;
  background: darkgray;
}
.logo{
  font-size: 40px;
}
.logo span{
  color: wheat;
  font-size: 50px;
}
.nav-content{
  display: flex;
  justify-content: center;
}
.nav-content i{
  font-size: 22px;
}
.nav-content a{
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 20px;
}
.body-txt{
  margin: 10% 5%;
  font-size: 25px;
}
.c-name{
  color: aquamarine;
}
#element{
  font-size: 30px;
}
.btn-2:hover{
  background-color: gray;
}
.menu-var{
  height: 40px;
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu-var a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: white;
}
#off{
  text-align: center;
  width: 60px;
  height: 20px;
  background-color: blueviolet;
  border: 1px solid black;
  border-radius: 10%;
}
#off:hover{
  background-color: yellow;
  transition: 1s;
}
.menu-var a:hover{
  color: black;
}
.body-txt a{
  color: white;
  text-decoration: none;
}
.body-txt button{
  font-size: 16px;
  font-weight: 600;
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  margin: 40px 30px;
  background-color: rgb(9, 134, 161);
}
.about-us{
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding: 3% 10%;
}
.about-box-1{
  margin-top: 8%;
  width: 500px;
}
.about-box-1 h1{
  font-size: 35px;
}
.about-box-1 p{
  font-size: 22px;
}
.box{
  margin-bottom: 30px;
  display: flex;
  width: 400px;
}
.box-txt{
  margin: 0px 30px;
}
.box-txt h2{
  font-size: 29px;
}
.box-txt p{
  margin-top: 5px;
  font-size: 22px;
}
.box-logo i{
  font-size: 50px;
  color: rgb(74, 5, 5);
}
.company{
  display: flex;
}
.com-img img{
  margin-top: 30px;
  margin-left: 30px;
  height: 30px;
  width: 80px;
}
.service{
  padding: 0% 10% 10% 10%;
}
.service-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box-1{
  height: 100px;
  width: 100px;
}
.ser-title{
  height: 45px;
  width: 94%;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  margin: 100px 3%;
  
}
.ser-box{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  margin-left: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.first{
  background-color: red;
}
.first img{
  margin: 10px 60px;
}
.first h3{
  margin-left: 5px;
  margin-bottom: 20px;
}
.second{
  background-color: yellow;
}
.second img{
  margin: 15px 60px;
}
.second h3{
  margin-left: 35%;
  margin-bottom: 20px;
}
.third{
  background-color: blue;
}
.third img{
  margin: 15px 60px;
}
.third h3{
  margin-left: 30px;
  margin-bottom: 20px;
}
.fourth{
  background-color: goldenrod;
}
.fourth img{
  margin: 15px 63px;
}
.fourth h3{
  margin-left: 35%;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.odr button{
  height: 50px;
  width: 150px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 30px 45%;
}
.odr a{
  text-decoration: none;
  font-weight: 600;
  color: azure;
}
.odr button:hover{
  background-color: blueviolet;
  font-size: 20px;
  transition: 0.5s;
}
.quat{
  border-bottom: 2px solid black;
}
.quat a{
  font-size: 20px;
  margin-left: 40px;
}
.policy{
  margin-top: 20px;
}
.policy a{
  font-size: 20px;
  margin-left: 22px;
}
.certification{
  padding: 5% 20px;
  /* margin: 20px 40px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.certification span{
  font-size: 25px;
}
.cerfi-1{
  width: 45%;
}
.cerfi-2{
  width: 45%;
}