*{
  padding: 0;
  margin: 0;
}
body{
  background-color: gray;
  overflow-x: hidden;
  
}
html{
  scroll-behavior: smooth;
}
#home{
  height: 100vh;
  width: 100%;
  background-image: url("images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 5px 10%;
  background: darkgray;
}
.logo{
  font-size: 35px;
}
.logo span{
  color: wheat;
  font-size: 40px;
}
.nav-content{
  display: flex;
  justify-content: center;
}
.nav-content i{
  font-size: 22px;
}
.nav-content a{
  text-decoration: none;
  margin-right: 10px;
  margin-left: 5px;
  font-size: 20px;
}
.body-txt{
  margin: 10% 5% 0% 5%;
  font-size: 25px;
  color: white;
}

.c-name{
  color: aquamarine;
}
#element{
  font-size: 30px;
}
.body-txt .btn-2{
  background-color: gray;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}
nav ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
}
.body-txt a{
  color: white;
  text-decoration: none;
}
.body-txt button{
  font-size: 16px;
  font-weight: 600;
  padding: 0px 10px;
  height: 30px;
  width: 100px;
  margin: 40px 30px;
  background-color: rgb(9, 134, 161);
}
.about-us{
  display: flex;
  align-items: center;
  padding: 3%;
}
.about-box-1{
  margin-top: 8%;
  width: 45%;
}
.about-box-1 h1{
  font-size: 35px;
}
.about-box-1 p{
  font-size: 22px;
  margin-right: 30px;
}
.about-box-2{
  width: 45%;
  margin-left: 60px;
}
.box{
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}
.box-txt{
  margin: 0px 30px;
}
.box-txt h2{
  font-size: 35px;
}
.box-txt p{
  margin-top: 5px;
  font-size: 25px;
}
.txt{
  margin-left: 40px;
}
.box-logo i{
  font-size: 50px;
  color: rgb(74, 5, 5);
}
.company{
  display: flex;
  padding: 40px;
}
.com-img img{
  margin: 10px 20px;
  height: 30px;
  width: 90px;
}
.service{
  padding: 0% 10%;
}
.service-box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.box-1{
  height: 100px;
  width: 100px;
}
.ser-title{
  height: 45px;
  width: 94%;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  margin: 100px 3%;
  
}
.ser-box{
  display: grid;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  margin-left: 30px;
  border: 1px solid transparent;
  border-radius: 10px;
}
.first{
  background-color: red;
}
.first img{
  margin: 10px 60px;
}
.first h3{
  margin-left: 5px;
  margin-bottom: 20px;
}
.second{
  background-color: yellow;
}
.second img{
  margin: 15px 60px;
}
.second h3{
  margin-left: 35%;
  margin-bottom: 20px;
}
.third{
  background-color: blue;
}
.third img{
  margin: 15px 60px;
}
.third h3{
  margin-left: 30px;
  margin-bottom: 20px;
}
.fourth{
  background-color: goldenrod;
}
.fourth img{
  margin: 15px 63px;
}
.fourth h3{
  margin-left: 35%;
  margin-bottom: 20px;
}
a{
  text-decoration: none;
  color: black;
}
.odr{
  display: block;
}
.odr button{
  height: 50px;
  width: 150px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 30px 43%;
}
.odr a{
  text-decoration: none;
  font-weight: 600;
  color: azure;
}
.odr button:hover{
  background-color: blueviolet;
  font-size: 20px;
  transition: 0.5s;
}
.odr-1{
  display: none;
}
.odr-1 button{
  height: 50px;
  width: 150px;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 10px;
  margin: 30px 43%;
}
.odr-1 a{
  text-decoration: none;
  font-weight: 600;
  color: azure;
}
.odr-1 button:hover{
  background-color: blueviolet;
  font-size: 20px;
  transition: 0.5s;
}
.quat{
  border-bottom: 2px solid black;
}
.quat a{
  font-size: 20px;
  margin-left: 40px;
}
.policy{
  margin-top: 20px;
}
.policy a{
  font-size: 20px;
  margin-left: 22px;
}
.certification{
  padding: 5% 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.certification span{
  font-size: 25px;
  margin-right: 10px;
}
.cerfi-1{
  width: 45%;
}
.cerfi-2{
  width: 45%;
}
nav .fa-solid{
  display: none;
}
@media only screen and (max-width:650px) {
  *{
    overflow-x: hidden;
  }
  .container{
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .nav-content{
    display: block;
  }
  .nav-content i{
    font-size: 15px;
  }
  .logo{
    font-size: 25px;
  }
  .body-content{
    display: grid;
    margin-top: 40%;
    padding: 20px;
  }
  .body-txt{
    font-size: 18px;
  }
  .body-txt .btn-2{
    margin-right: 10px;
  }
  .body-txt button{
    margin-left: 10px;
  }
  #element{
    font-size: 20px;
  }
  nav ul{
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index: 2;
    transition: right 0.6s;
    background-color: black;
    color: white;
  }
  nav ul li{
    display: block;
    margin: 25px;
  }
  nav ul .fa-solid{
    color: white;
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  nav .fa-solid{
    color: burlywood;
    display: block;
    font-size: 25px;
    margin-top: 5px;
    margin-left: 10px;
  }
  /* about us */
  .about-us{
    display: grid;
  }
  .about-box-1{
    width: 100%;
  }
  .about-box-1 h1{
    font-size: 25px;
  }
  .about-box-1 p{
    font-size: 14px;
    width: 350px;
  }
  .about-box-2{
    width: 100%;
    margin-left: 0px;
  }
  .box-logo i{
    font-size: 30px;
  }
 .box-txt h2{
    font-size: 25px;
  }
  .box-txt p{
    width: 250px;
    font-size: 16px;
  }
  .company{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
  }
  /* service */
  .service-box{
    display: grid;
    justify-content: center;
  }
  .ser-title{
    margin-right: 14px;
  }
  .ser-box{
    margin-left: 0px;
    margin-top: 20px;
  }
  .odr-1{
    display: block;
    margin-top: 20px;
  }
  .odr{
    display: none;
  }
  .odr-1 button{
    margin-left: 26px;
    height: 50px;
    width: 200px;
  }
  /* footer */
  .quat a{
    font-size: 16px;
    margin-left: 20px;
  }
  .policy a{
    font-size: 13px;
    margin-left: 10px;
  }
  .certification{
    display: inline-block;
    margin-left: 0px;
  }
  .cerfi-1{
    width: 100%;
    margin-bottom: 20px;
  }
  .cerfi-2{
    width: 100%;
  }
}